{
    "env": {
        "browser": true,
        "es6": true,
        "es2017": true,
        "es2020": true,
        "es2021": true
    },
    "extends": ["eslint:all"],
    "plugins": [],
    "rules": {
        "semi": ["error", "never"],
        "array-element-newline": ["error", "consistent"],
        "quote-props": ["error", "as-needed"],
        "comma-dangle": ["error", "always-multiline"],
        "quotes": ["error", "single"],
        "function-call-argument-newline": ["error", "consistent"],
        "padded-blocks": ["error", "never"],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "arrow-parens": ["error", "as-needed"],
        "space-before-function-paren": ["error", { 
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always" 
        }],
        "no-magic-numbers": "off",
        "id-length": "off",
        "sort-keys": "off",
        "one-var": "off",
        "func-style": "off",
        "strict": "off",
        "capitalized-comments": "off",
        "multiline-comment-style": "off",
        "no-implicit-globals":"off",
        "no-mixed-operators": "off",
        "max-statements": ["error", 100, { "ignoreTopLevelFunctions": true }]
    }
}