{
    "env": {
        "browser": true,
        "es6": true,
        "es2017": true,
        "es2020": true,
        "es2021": true
    },
    "extends": ["eslint:all"],
    "plugins": [],
    "rules": {
        "semi": ["error", "never"],
        "no-magic-numbers": "off",
        "array-element-newline": ["error", "consistent"],
        "id-length": "off"
    }
}